.content {
  padding: 25px;
  .header-edit-hero {
    h1 {
      text-decoration: underline;
    }
  }
  .edit-content {

    .hero-form-full-width {
      width: 100%;
    }

    .hero-form__actions {
      display: flex;
      justify-content: space-around;
    }
  }
}








