<h1>Listado de héroes</h1>
<div class="heroes-list">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Spiderman</mat-card-title>
      <mat-card-subtitle>Hombre Araña</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Trepar, superfuerza y lanza telaarañas</p>
    </mat-card-content>
    <div class="footer-card">
      <mat-card-actions>
        <button mat-raised-button color="primary">Detalles</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>










