.example-card {
  max-width: 400px;
}



.heroes-list {
  padding: 20px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));

  .hero-card {
    padding: 5px;
  }
}


.footer-card {
  display: flex;
  justify-content: center;
}
