<h1>Listado de héroes</h1>
<div class="heroes-list">
  <mat-card class="hero-card" *ngFor="let hero of heroesList">
    <mat-card-header>
      <mat-card-title> {{ hero.name }} ( {{ hero.age }} )</mat-card-title>
      <mat-card-subtitle> {{ hero.alias }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngFor="let power of hero.powers"> {{ power }} </p>
    </mat-card-content>
    <div class="footer-card">
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="{{hero.id}}">Detalles</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>










